body {
    padding-bottom: 1rem;
}

.nav-pills .nav-link.active {
    background-color: #f3c404f2 !important;
    color: black !important;
}

.nav-link {
    color: #ffffff !important;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.login-container > *:not(:last-child) {
    display: block;
    margin-top: 60px;
}

.inner-table {
    background-color: #ececec;
}

.skill-matrix-table td {
    padding: 0 !important;
}

.skill-matrix-table td:first-child {
    padding: 10px 0 0 10px !important;
    width: 400px !important;
}

.skill-matrix-table td:first-child {
    /*display: flex;*/
}

/*.sticky-nav {*/
/*    position: sticky !important;*/
/*    top: 0;*/
/*}*/

.btn-group>.btn {
    background-color: #343a40 !important;
    border-color: white !important;
    color: white !important;
}

.btn-group>.btn:not(:last-child) {
    margin-right: 2px;
}

.btn-header {
    margin: 2rem auto;
    width: 100%;
}

.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-primary:not(:disabled):not(.disabled).active {
    background-color: #f3c404f2 !important;
    border-color: white !important;
    color: black !important;
}

.large-container {
    margin: 2% 3%;
}

.filter>.col {
    padding-left: 0;
    padding-right: .3rem;
}

.filter {
     margin: 0 !important;
}

.dropdown {
    margin-left: 5px !important;
}
